{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline ml-auto">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="searchBox" placeholder="Buscar">
                </div>
                <button type="button" class="btn btn-primary mb-2" onclick="searchList()">Buscar</button>
            </form>
        </div>
    </div>

    <ul id="shoppingList" class="list-group mt-3">
        {% for item in items %}
        <li class="list-group-item">{{ item }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}